<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ti.aplicativodietasaude"
    tools:ignore="ExtraText">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.CadastroPageActivity" />
        <activity android:name=".View.LoginActivity" />
        <activity android:name=".View.PaginaLogado" />
        <activity android:name=".View.ListaAlimentos" />
        <activity android:name=".View.ListaDietas" />
        <activity android:name=".View.ListaExercicios" />
        <activity android:name=".View.ListaTreinos" />
        <activity android:name=".View.CadastroAlimento" />
        <activity android:name=".View.CadastraDietaAcvity" />
        <activity android:name=".View.AdicionarAlimentoDietaActivity"></activity>
    </application>

</manifest>